@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
.logo1{
  color: #e0e4e8;
  margin-top: 20px;
  margin-left: 35px;
}
.logo1 h6{
  font-size: 15px;
  margin-left: 20px;
}
.usertop .fas{
  color: #fff;
  float: right;
  margin: 20px
}
.fas{
  color: #190871;
}
.logo{
text-align:center;
}
body{
   background-color: #072563;
}
.wrapper{
  display: flex;
  display: table-cell;
  float: left;
  margin-right: 10px;
}
.button{
  float:right ;
  height:40px;
  width:200px;
  background-color:#190871;
  color:#fff;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.heading h1{
  font-size: 40px;
}
.form{

  width:auto;
  height:500px;
  padding: 25px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border: solid rgb(10, 5, 5);
  border-width: 2px;
}

.wrapper .sidebar{
  position:relative;
  float: left;
  width: 225px;
  height: 525px;
  background: #ffffff;
  color: rgb(12, 12, 99);
  padding: 15px 15px;
  border-bottom-right-radius: 50px;

}
.text{
color:#072563
}
input[type=text] {
  width: 44%;
  padding: 6px 6px;
  margin-bottom: 4px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(1, 1, 3);
}
.fa-solid{
color: #072563;
}
.button .fa-solid{
color:#e0e4e8
}
.logo .fa-brands{
  color: #072563;
}
.user{
  float:left;
  margin-left: 20px;
  margin-right: 20px;
}
.info{
  margin-left: 150px;
}
.mainpg{
  float: left;
  display:table-cell;
  min-width: auto;
  width: 80%;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
  border-radius: 20px;
  margin-top:5px;
  margin-right:20px;
  background-color: #ffffff;
  height: auto;
}
.wrapper .sidebar h2{
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #1f0e75;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  margin-left: 20px;
  color: #230f88;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}